* {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  background-color: gray;
  border-radius: 8px;
}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.foodPicture {
  border-radius: 8px;
  border: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
}
.text.list {
  margin: 24px 0px -12px 0px;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 12px;
  border-radius: 0.25em;
}
.recipeList {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #353a3d35;
  color: #070707;
  text-align: center;
  transition: background-color 0.3s ease;
  position: relative;
  border-radius: 8px;
}
li:hover {
  background-color: rgba(143, 167, 171, 0.769);
  border-radius: 8px;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 3px rgba(143, 167, 171, 0.769),
      0 0 10px rgba(143, 167, 171, 0.769), 0 0 15px rgba(143, 167, 171, 0.769);
  }
  100% {
    box-shadow: 0 0 5px rgba(143, 167, 171, 0.769),
      0 0 20px rgba(143, 167, 171, 0.769), 0 0 30px rgba(143, 167, 171, 0.769);
  }
}
.backLink {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 12px;
  border-radius: 0.25em;
  text-decoration: none;
}
